### This notebook contains some practice exercises for Part 2 of Python libraries such as 
#### 1) Seaborn
#### 2) BeautifulSoup
#### 3) PyMongo

#### Solutions for the below exercises can be found in Part 2 - Exercises Solutions notebook
##### Note: Please try the exercises first, if you are stuck then see the solutions

# Seaborn

##### Note: Basics can be found [here](https://colab.research.google.com/drive/1dPyFnRRianv4jMAbTIxtk8dqIhVhy4oy)

In [ ]:
# import required packages
import seaborn as sns

# Load the dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv") 

employees = pd.read_csv("https://raw.githubusercontent.com/vamsivarma/datasets/master/data_science/seaborn/hr/train.csv")

#### Exercise 1: Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

#### Exercise 2: Do a pair plot for the above employees dataset

#### Exercise 3: Plot a heatmap of the above employees dataset

# Beautiful Soup

##### Note: Basics can be found [here](https://colab.research.google.com/drive/1w7tlaAwLuoTcj0JwjQuueKc3PZT9JL-r)

In [ ]:
# Below are the 2 web pages that we will be using for the exercises
listing = "https://www.immobiliare.it/vendita-case/roma/?imm_source=homepage" #Listing of houses from Immobiliare.it website
listing_detail = "https://www.immobiliare.it/annunci/79364891/" #Detail page of a particular house

# Get the content of the above pages to do scrapping

# Import required packages
import requests 
from bs4 import BeautifulSoup 

URL = "http://learn-javascript.in/"
r_listing = requests.get(listing)
r_listing_detail = requests.get(listing_detail)  

listing_soup = BeautifulSoup(r_listing.content, 'html5lib') 
listing_detail_soup = BeautifulSoup(r_listing_detail.content, 'html5lib') 

#Note:  You can use these 2 variables, listing_soup and listing_detail_soup for completing the exercises

#print(listing_soup)
#print(listing_detail_soup)
#table = soup.findAll('h1', attrs = {'class':'content-heading'})

#### Exercise 1: Write a Python program to find the title tags from a given html document

#### Exercise 2: Write a Python program to retrieve all the paragraph tags from a given html document.

#### Exercise 3: Write a Python program to get the number of paragraph tags of a given html document

#### Exercise 4: Write a Python program to extract the text in the first paragraph tag of a given html document.

#### Exercise 5: Write a Python program to find the length of the text of the first < h2 > tag of a given html document.

#### Other sample exercises for practice
#### Exercise list:


6. Write a Python program to find the text of the first < a > tag of a given html text. 

7. Write a Python program to find the href of the first < a > tag of a given html document. 

8. Write a Python program to extract all the URLs from the webpage python.org that are nested within < li > tags from 

9. Write a Python program to find all the h2 tags and list the first four from the webpage python.org.

10. Write a Python program to find all the link tags and list the first ten from the webpage python.org. 

11. Write a Python program to a list of all the h1, h2, h3 tags from the webpage python.org. 

12. Write a Python program to extract all the text from a given web page. 

13. Write a Python program to print the names of all HTML tags of a given web page going through the document tree. 

14. Write a Python program to retrieve children of the html tag from a given web page. 

15. Write a Python program to retrieve all descendants of the body tag from a given web page. 

16. Write a Python program to retrieve the HTML code of the title, its text, and the HTML code of its parent.

17. Write a Python program to find and print all li tags of a given web page. 

18. Write a Python program to print content of elements that contain a specified string of a given web page. 

19. Write a Python program to print the element(s) that has a specified id of a given web page. 

20. Write a Python program to create a Beautiful Soup parse tree into a nicely formatted Unicode string, with a separate line for each HTML/XML tag and string. 

21. Write a Python program to find the first tag with a given attribute value in an html document. 

22. Write a Python program to find tag(s) beneath other tag(s) in a given html document. 

23. Write a Python program to find tag(s) directly beneath other tag(s) in a given html document. 

24. Write a Python program to find the siblings of tags in a given html document. 

25. Write a Python program to find tags by CSS class in a given html document. 

26. Write a Python program to change the tag's contents and replace with the given string. 

27. Write a Python program to add to a tag's contents in a given html document. 

28. Write a Python program to insert a new text within a url in a specified position. 

29. Write a Python program to insert tags or strings immediately before specified tags or strings.

30. Write a Python program to insert tags or strings immediately after specified tags or strings.

31. Write a Python program to remove the contents of a tag in a given html document.

32. Write a Python program to extract a tag or string from a given tree of html document.

33. Write a Python program to remove a tag from a given tree of html document and destroy it and its contents.

34. Write a Python program to remove a tag or string from a given tree of html document and replace it with the given tag or string.

35. Write a Python program to wrap an element in the specified tag and create the new wrapper.

36. Write a Python program to replace a given tag with whatever's inside a given tag.

# Pymongo

##### Note: Basics can be found [here](https://colab.research.google.com/drive/1jqTDYUG8TZOrzrg58rWwCcvbWRZ2YrNb)

In [ ]:
# Connection code for Mongo Atlas

import pymongo
from pymongo import MongoClient
import pandas as pd

# Connect to Mongo Client on the cloud
connection = pymongo.MongoClient("mongodb+srv://resiadb:resiadb@cluster0-adqns.gcp.mongodb.net/<dbname>?retryWrites=true&w=majority")

db = connection['resia']
titanic_data = db['titanic']

# Get the collections in the database memotef
print(db.collection_names(include_system_collections=False))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  if sys.path[0] == '':

['titanic', 'nations', 'mongo_practice']

#### Exercise 1: Write a MongoDB query to display all the documents in the collection "titanic"

#### Exercise 2: Write a MongoDB query to display the who, age, class and embark_town for all the documents in the collection titanic.

#### Exercise 3: Write a MongoDB query to display the who, age, class and embark_town but exclude field __id for all the documents in the collection titanic.

#### Other sample exercises for practice - 
5. Write a MongoDB query to display all the restaurant which is in the borough Bronx.

6. Write a MongoDB query to display the first 5 restaurant which is in the borough Bronx.

7. Write a MongoDB query to display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

8. Write a MongoDB query to find the restaurants who achieved a score more than 90.

9. Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100.

10. Write a MongoDB query to find the restaurants which locate in latitude value less than -95.754168.Go to the editor
Click me to see the solution

11. Write a MongoDB query to find the restaurants that do not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168.

12. Write a MongoDB query to find the restaurants which do not prepare any cuisine of 'American' and achieved a score more than 70 and located in the longitude less than -65.754168.
Note : Do this query without using $and operator.

13. Write a MongoDB query to find the restaurants which do not prepare any cuisine of 'American ' and achieved a grade point 'A' not belongs to the borough Brooklyn. The document must be displayed according to the cuisine in descending order.

14. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which contain 'Wil' as first three letters for its name.

15. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which contain 'ces' as last three letters for its name.

16. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which contain 'Reg' as three letters somewhere in its name.

17. Write a MongoDB query to find the restaurants which belong to the borough Bronx and prepared either American or Chinese dish.

18. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which belong to the borough Staten Island or Queens or Bronxor Brooklyn.

19. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which are not belonging to the borough Staten Island or Queens or Bronxor Brooklyn.

20. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which achieved a score which is not more than 10.

21. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which prepared dish except 'American' and 'Chinees' or restaurant's name begins with letter 'Wil'.

22. Write a MongoDB query to find the restaurant Id, name, and grades for those restaurants which achieved a grade of "A" and scored 11 on an ISODate "2014-08-11T00:00:00Z" among many of survey dates..

23. Write a MongoDB query to find the restaurant Id, name and grades for those restaurants where the 2nd element of grades array contains a grade of "A" and score 9 on an ISODate "2014-08-11T00:00:00Z".

24. Write a MongoDB query to find the restaurant Id, name, address and geographical location for those restaurants where 2nd element of coord array contains a value which is more than 42 and upto 52..

25. Write a MongoDB query to arrange the name of the restaurants in ascending order along with all the columns.

26. Write a MongoDB query to arrange the name of the restaurants in descending along with all the columns.

27. Write a MongoDB query to arranged the name of the cuisine in ascending order and for that same cuisine borough should be in descending order.

28. Write a MongoDB query to know whether all the addresses contains the street or not.

29. Write a MongoDB query which will select all documents in the restaurants collection where the coord field value is Double.

30. Write a MongoDB query which will select the restaurant Id, name and grades for those restaurants which returns 0 as a remainder after dividing the score by 7.

31. Write a MongoDB query to find the restaurant name, borough, longitude and attitude and cuisine for those restaurants which contains 'mon' as three letters somewhere in its name.

32. Write a MongoDB query to find the restaurant name, borough, longitude and latitude and cuisine for those restaurants which contain 'Mad' as first three letters of its name.

#### Useful references

https://www.w3resource.com/python-exercises/BeautifulSoup/index.php - For web scrapping

https://www.w3resource.com/mongodb-exercises/ - For MongoDB exercises